<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
</head>
<body>
  <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
        <p>This is the placeholder for Team Activity 03</p>
        
        <div class="card-container">
          <% for (let item of items) { %>
            <div class="card-content">
              <h1><%= item.name %></h1>
              <h2><%= item.tags %></h2>
              <h2>$<%= parseFloat(item.price) %></h2>
              <img src="<%= item.imageUrl %>" alt="<%= item.name %>">
              <h2><%= item.description %></h2>
            </div>
            <% } %>
        </div>
      </div>
    </div>
    <div class="container">
    </div>
</body>
</html>